In [1]:
import pickle
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Part 1 : Listing Movies to Query

In [27]:
movies = pd.read_csv('data/tmdb_5000_movies.csv')
movies.drop(['homepage', 'keywords','original_language','overview','release_date','spoken_languages', \
             'status','title','tagline','vote_count'\
            ], \
            axis=1, \
            inplace=True \
           )

In [28]:
credits = pd.read_csv('data/tmdb_5000_credits.csv')
credits = credits[credits.cast != '[]']
credits.drop(['title', 'crew'], axis=1, inplace=True)
credits['cast_id'] = credits['cast'].apply(lambda row: list(set(pd.read_json(row)['id'])))

In [29]:
frames = pd.DataFrame()
new_df = pd.DataFrame()

for idx, film in credits.iterrows():
    cast_df = pd.DataFrame(eval(credits['cast'][idx]))
    cast_df['credits'] = idx
    cast_df = cast_df.drop(['character','order', 'credit_id', 'cast_id'],axis = 1)  
    
    frames = [new_df, cast_df]
    new_df = pd.concat(frames, join = 'outer', ignore_index=True)

In [30]:
discount_old = credits['cast_id'].apply(pd.Series).stack().value_counts()
discount_old = list(discount_old[discount_old > 4].index.astype(int))

In [31]:
nodes_df = new_df['credits'].groupby([new_df.gender, new_df.id, new_df.name]).apply(list).reset_index()
nodes_df = nodes_df[nodes_df['gender'].isin(['1','2'])]
discount_1 = nodes_df['id'].tolist()
discount = [x for x in discount_old if x in discount_1]

In [32]:
credits['cast_id'] = credits['cast_id'].apply(lambda x: [y for y in x if y in discount])
credits['edges'] = credits['cast_id'].apply(lambda x: list(itertools.combinations(x, 2)))

In [33]:
discarded_movies = set()

for idx, movie in credits.iterrows():
    if len(movie['edges']) == 0:
        discarded_movies.add(movie['movie_id'])

print(len(discarded_movies))

663

In [34]:
movies = movies[~movies['id'].isin(discarded_movies)]
movies['bechdel'] = ''
movies.head()

,budget,genres,id,original_title,popularity,production_companies,production_countries,revenue,runtime,vote_average,bechdel
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2787965087,162.0,7.2,
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,6.9,
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",880674609,148.0,6.3,
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1084939099,165.0,7.6,
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",284139100,132.0,6.1,

In [5]:
with open('data/bechdel.pkl', 'rb') as pkl_file: 
    movies_bechdel = pickle.load(pkl_file)
    
movies_bechdel.head()

,budget,genres,id,original_title,popularity,production_companies,production_countries,revenue,runtime,vote_average,bechdel
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2787965087,162.0,7.2,0.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,6.9,1.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",880674609,148.0,6.3,0.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1084939099,165.0,7.6,0.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",284139100,132.0,6.1,1.0

In [3]:
movies_bechdel['bechdel'] = movies_bechdel['bechdel'].map({-1:-1, '0':0, '1':0, '2':0, '3':1, ' ':0})
movies_bechdel['bechdel'].value_counts()

-1.0    1646
 1.0    1358
 0.0    1130
Name: bechdel, dtype: int64

In [42]:
movies_bechdel.corr()

,budget,id,popularity,revenue,runtime,vote_average,bechdel
budget,1.000000,-0.055604,0.489507,0.723982,0.279442,0.087631,0.202766
id,-0.055604,1.000000,0.090769,-0.020148,-0.133421,-0.185161,-0.020614
popularity,0.489507,0.090769,1.000000,0.636844,0.229755,0.292053,0.292492
revenue,0.723982,-0.020148,0.636844,1.000000,0.264570,0.220390,0.266546
runtime,0.279442,-0.133421,0.229755,0.264570,1.000000,0.402501,0.156131
vote_average,0.087631,-0.185161,0.292053,0.220390,0.402501,1.000000,0.288393
bechdel,0.202766,-0.020614,0.292492,0.266546,0.156131,0.288393,1.000000

In [48]:
movies_bechdel[(movies_bechdel['revenue'] != 0) & (movies_bechdel['budget'] != 0) & (movies_bechdel['bechdel'] != -1)].count()

budget                  2117
genres                  2117
id                      2117
original_title          2117
popularity              2117
production_companies    2117
production_countries    2117
revenue                 2117
runtime                 2117
vote_average            2117
bechdel                 2117
dtype: int64

In [46]:
movies_bechdel[(movies_bechdel['bechdel'] == 1) & ]

,budget,genres,id,original_title,popularity,production_companies,production_countries,revenue,runtime,vote_average,bechdel
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,6.9,1.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",284139100,132.0,6.1,1.0
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",38757,Tangled,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",591794936,100.0,7.4,1.0
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",99861,Avengers: Age of Ultron,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1405403694,141.0,7.3,1.0
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,Harry Potter and the Half-Blood Prince,98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",933959197,153.0,7.4,1.0
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49521,Man of Steel,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",662845518,143.0,6.5,1.0
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,The Chronicles of Narnia: Prince Caspian,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",419651413,150.0,6.3,1.0
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",20662,Robin Hood,37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",310669540,140.0,6.2,1.0
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",57158,The Hobbit: The Desolation of Smaug,94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",958400000,161.0,7.6,1.0
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2268,The Golden Compass,42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",372234864,113.0,5.8,1.0
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",597,Titanic,100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1845034188,194.0,7.5,1.0
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",271110,Captain America: Civil War,198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1153304495,147.0,7.1,1.0
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",135397,Jurassic World,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1513528810,124.0,6.5,1.0
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",37724,Skyfall,93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",1108561013,143.0,6.9,1.0
31,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",68721,Iron Man 3,77.682080,"[{""name"": ""Marvel Studios"", ""id"": 420}]","[{""iso_3166_1"": ""CN"", ""name"": ""China""}, {""iso_...",1215439994,130.0,6.8,1.0
32,200000000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 14, ""...",12155,Alice in Wonderland,78.530105,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1025491110,108.0,6.4,1.0
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",36668,X-Men: The Last Stand,3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",459359555,104.0,6.3,1.0
35,150000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",8373,Transformers: Revenge of the Fallen,21.939663,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",836297228,150.0,6.0,1.0
36,210000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",91314,Transformers: Age of Extinction,116.840296,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1091405097,165.0,5.8,1.0
37,200000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",68728,Oz: The Great and Powerful,46.985445,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",491868548,130.0,5.7,1.0
42,200000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",10193,Toy Story 3,59.995418,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1066969703,103.0,7.6,1.0
44,190000000,"[{""id"": 28, ""name"": ""Action""}]",168259,Furious 7,102.322217,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}, {""iso_...",1506249360,137.0,7.3,1.0
45,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",72190,World War Z,81.834855,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",531865000,116.0,6.7,1.0
49,105000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",64682,The Great Gatsby,61.196071,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",351040419,143.0,7.3,1.0
52,195000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",38356,Transformers: Dark of the Moon,28.529607,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1123746996,154.0,6.1,1.0
54,175000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",105864,The Good Dinosaur,51.692953,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",331926147,93.0,6.6,1.0
55,185000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 12, ""...",62177,Brave,125.114374,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",538983207,93.0,6.7,1.0
61,176000003,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",76757,Jupiter Ascending,85.369080,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",183987723,124.0,5.2,1.0
63,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",411,"The Chronicles of Narnia: The Lion, the Witch ...",67.391328,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",748806957,143.0,6.7,1.0
64,178000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",246655,X-Men: Apocalypse,139.272042,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",543934787,144.0,6.4,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4454,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",11446,Welcome to the Dollhouse,5.870319,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,88.0,6.9,1.0
4455,800000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",47889,Ruby in Paradise,0.594240,"[{""name"": ""Ruby in Paradise"", ""id"": 75712}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1001437,114.0,5.6,1.0
4470,750000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",84332,Safety Not Guaranteed,25.186002,"[{""name"": ""Duplass Brothers Productions"", ""id""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",4007792,85.0,6.8,1.0
4472,500000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",74725,Kill List,12.203041,"[{""name"": ""Rook Films"", ""id"": 16853}, {""name"":...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",171760,95.0,6.0,1.0
4473,750000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",58428,The Innkeepers,14.386807,"[{""name"": ""Glass Eye Pix"", ""id"": 1360}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",78396,102.0,5.4,1.0
4485,700000,"[{""id"": 18, ""name"": ""Drama""}]",7859,Half Nelson,12.378031,"[{""name"": ""Thinkfilm"", ""id"": 446}, {""name"": ""H...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",4911725,107.0,6.5,1.0
4516,500000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 878, ""na...",30315,Kingdom of the Spiders,2.537032,"[{""name"": ""Arachnid Productions Ltd."", ""id"": 5...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",17000000,97.0,5.7,1.0
4518,500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",2056,The Station Agent,11.578545,"[{""name"": ""Next Wednesday Productions"", ""id"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",8679814,88.0,7.4,1.0
4533,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",172533,Drinking Buddies,17.378455,"[{""name"": ""Burn Later Productions"", ""id"": 18346}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",343341,90.0,6.0,1.0
4539,500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",45649,Rubber,9.108949,"[{""name"": ""Canal+"", ""id"": 5358}, {""name"": ""Bac...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",98017,85.0,5.7,1.0
4576,0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name...",188166,Blue Ruin,25.349758,"[{""name"": ""Film Science"", ""id"": 1976}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",258384,90.0,6.9,1.0
4586,35000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",9029,What Happens in Vegas,38.100488,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",170000000,99.0,5.8,1.0
4604,325000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",3078,It Happened One Night,11.871424,"[{""name"": ""Columbia Pictures Corporation"", ""id...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",4500000,105.0,7.7,1.0
4609,0,"[{""id"": 35, ""name"": ""Comedy""}]",11956,Chacun Cherche Son Chat,1.410387,"[{""name"": ""Vertigo Productions"", ""id"": 2756}, ...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",0,91.0,6.1,1.0
4610,300000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1550,Pieces of April,4.270596,"[{""name"": ""Kalkaska Productions"", ""id"": 728}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,81.0,6.4,1.0
4613,200000,"[{""id"": 18, ""name"": ""Drama""}]",8942,Wendy and Lucy,0.713906,"[{""name"": ""Glass Eye Pix"", ""id"": 1360}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,80.0,6.4,1.0
4616,0,"[{""id"": 99, ""name"": ""Documentary""}]",87943,Sisters in Law,0.025211,"[{""name"": ""Vixen Films"", ""id"": 82784}]","[{""iso_3166_1"": ""CM"", ""name"": ""Cameroon""}, {""i...",0,104.0,7.3,1.0
4630,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",84188,Compliance,8.942203,"[{""name"": ""Muskat Filmed Properties"", ""id"": 10...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",319285,90.0,6.3,1.0
4631,250000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",2255,Chasing Amy,20.601483,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12021272,113.0,6.7,1.0
4632,250000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",50035,Lovely & Amazing,1.459170,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",4186931,91.0,6.3,1.0
4635,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",29371,The Incredibly True Adventure of Two Girls In ...,1.708190,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,94.0,5.7,1.0
4639,250000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",431,Cube,44.656151,"[{""name"": ""T\u00e9l\u00e9film Canada"", ""id"": 8...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}]",501818,90.0,6.9,1.0
4640,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",76996,Love and Other Catastrophes,0.619348,[],"[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}]",0,78.0,5.8,1.0
4643,250000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",60420,Like Crazy,21.825564,"[{""name"": ""Paramount Vantage"", ""id"": 838}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3542353,90.0,6.4,1.0
4650,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",29917,Exam,20.265518,"[{""name"": ""Hazeldine Films"", ""id"": 5004}, {""na...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",0,101.0,6.6,1.0
4700,100000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",55420,Another Earth,25.402697,"[{""name"": ""Artists Public Domain"", ""id"": 8145}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1776935,92.0,6.8,1.0
4715,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",86812,Sound of My Voice,6.192383,"[{""name"": ""Skyscraper Films"", ""id"": 26197}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,85.0,6.3,1.0
4717,125000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",84355,Your Sister's Sister,12.833247,"[{""name"": ""Ada Films"", ""id"": 1424}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3200000,90.0,6.5,1.0
4744,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",244534,Happy Christmas,7.052422,"[{""name"": ""Lucky Coffee Productions"", ""id"": 29...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,82.0,5.2,1.0
4752,65000,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",47607,Tiny Furniture,2.380332,"[{""name"": ""Tiny Ponies"", ""id"": 65873}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",416498,99.0,5.6,1.0

In [4]:
with open('data/bechdel.pkl', 'wb') as f: 
    pickle.dump(movies_bechdel, f)