# Project

## Bechdel Test

In [1]:
import math
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Sinan Bursa

In [2]:
credits = pd.read_csv('data/tmdb_5000_credits.csv')
credits = credits[credits.cast != '[]']


movies = pd.read_csv('data/tmdb_5000_movies.csv')
movies.drop(['homepage', 'keywords','original_language','overview','release_date','spoken_languages', \
             'status','title','tagline','vote_count'\
            ], \
            axis=1, \
            inplace=True \
           )

In [3]:
credits.drop(['title', 'crew'], axis=1, inplace=True)
credits['cast_id'] = credits['cast'].apply(lambda row: list(set(pd.read_json(row)['id'])))
#credits['cast_name'] = credits['cast'].apply(lambda row: list(set(pd.read_json(row)['name'])))
#credits['gender'] = credits['cast'].apply(lambda row: list(set(pd.read_json(row)['gender'])))

In [4]:
discount = credits['cast_id'].apply(pd.Series).stack().value_counts()
discount = list(discount[discount > 4].index.astype(int))
discount[:10]

[2231, 380, 62, 1892, 192, 884, 3896, 887, 85, 2963]

In [5]:
credits['cast_id'] = credits['cast_id'].apply(lambda x: [y for y in x if y in discount])
credits['edges'] = credits['cast_id'].apply(lambda x: list(itertools.combinations(x, 2)))
edges = list(credits['edges'].apply(pd.Series).stack())
edges[0:5]

edges_df = pd.DataFrame(edges)

In [6]:
discarded_movies = set()

for idx, movie in credits.iterrows():
    if len(movie['edges']) == 0:
        discarded_movies.add(movie['movie_id'])

print(len(discarded_movies))

627

In [7]:
credits = credits[~credits['movie_id'].isin(discarded_movies)]
credits.head()

,movie_id,cast,cast_id,edges
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[30485, 236696, 98215, 42286, 68278, 65731, 42...","[(30485, 236696), (30485, 98215), (30485, 4228..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[2440, 2441, 2449, 2452, 939, 1709, 1711, 1714...","[(2440, 2441), (2440, 2449), (2440, 2452), (24..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[139549, 17064, 543530, 27319, 121529, 5309, 2...","[(139549, 17064), (139549, 543530), (139549, 2..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[21505, 53252, 77335, 535, 1574936, 539, 15805...","[(21505, 53252), (21505, 77335), (21505, 535),..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[17287, 17419, 2206, 2983, 5293, 21044, 57675,...","[(17287, 17419), (17287, 2206), (17287, 2983),..."

In [8]:
movies['profit'] = movies['revenue']-movies['budget']
movies_credits = movies.merge(credits, left_on='id', right_on='movie_id', how='inner').drop(columns=['movie_id'])

In [9]:
movies_credits = movies_credits[movies_credits.genres != '[]']
movies_credits['genre_id'] = movies_credits['genres'].apply(lambda row: list(set(pd.read_json(row)['id'])))

In [10]:
profit_df = pd.DataFrame(movies_credits.cast_id.tolist(), index=movies_credits.profit).stack().reset_index(name='cast_id')[['cast_id','profit']]
profit_df['cast_id'] = profit_df.cast_id.astype(int)
profit_df = profit_df.groupby('cast_id', as_index=False).mean()
profit_df.set_index('cast_id', inplace=True)
profit_df.head()

               profit
cast_id
3        1.596215e+08
4        1.594258e+08
6        5.387531e+08
7        4.952879e+08
10       6.340370e+08

In [11]:
ranking_df = pd.DataFrame(movies_credits.cast_id.tolist(), index=movies_credits.vote_average).stack().reset_index(name='cast_id')[['cast_id','vote_average']]
ranking_df['cast_id'] = ranking_df.cast_id.astype(int)
ranking_df = ranking_df.groupby('cast_id', as_index=False).mean()
ranking_df.set_index('cast_id', inplace=True)
ranking_df.head()

         vote_average
cast_id
3            6.634375
4            6.366667
6            7.437500
7            7.340000
10           7.466667

In [12]:
genre = movies_credits[['cast_id', 'genre_id']]
genre.loc[:, 'genre_id_disc'] = genre['genre_id'].apply(lambda x: x[0])

/Users/sinangokce/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/sinangokce/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
genre_df = pd.DataFrame(genre.cast_id.tolist(), index=genre.genre_id_disc).stack().reset_index(name='cast_id')[['cast_id','genre_id_disc']]
most_freq_genre = genre_df.groupby(['cast_id']).agg(lambda x:x.value_counts().index[0])

In [14]:
actors = ranking_df.merge(most_freq_genre, on='cast_id', how='inner')
actors = actors.merge(profit_df, on='cast_id', how='inner')

In [16]:
actors = actors.reset_index()
actors.head()

   cast_id  vote_average  genre_id_disc        profit
0        3      6.634375             18  1.596215e+08
1        4      6.366667             80  1.594258e+08
2        6      7.437500             12  5.387531e+08
3        7      7.340000             16  4.952879e+08
4       10      7.466667             16  6.340370e+08

In [17]:
frames = pd.DataFrame()
new_df = pd.DataFrame()

for idx, film in credits.iterrows():
    cast_df = pd.DataFrame(eval(credits['cast'][idx]))
    cast_df['credits'] = idx
    cast_df = cast_df.drop(['character','order', 'credit_id', 'cast_id'],axis = 1)  
    
    frames = [new_df, cast_df]
    new_df = pd.concat(frames, join = 'outer', ignore_index=True)

In [18]:
nodes_df = new_df['credits'].groupby([new_df.gender, new_df.id, new_df.name]).apply(list).reset_index()
nodes_df = nodes_df[nodes_df.id.isin(discount)]
nodes_df.drop(columns=['credits'], inplace=True)
nodes_df = nodes_df[nodes_df['gender'].isin(['1','2'])]

In [19]:
actors = actors.merge(nodes_df, left_on = 'cast_id', right_on='id', how='inner').drop(columns=['cast_id'])

In [22]:
actors = actors[['name', 'id', 'gender', 'genre_id_disc', 'vote_average', 'profit']]

In [25]:
actors[actors['name']=='Leonardo DiCaprio']

,name,id,gender,genre_id_disc,vote_average,profit
824,Leonardo DiCaprio,6193,2,18,7.072727,2.187665e+08

In [24]:
actors.sort_values(by='profit', ascending=False)

,name,id,gender,genre_id_disc,vote_average,profit
2396,Julene Renee,42286,1,16,6.420000,8.703207e+08
306,Adrian Rawlins,1643,2,12,7.500000,7.644205e+08
3411,Jamie Waylett,956224,2,12,7.483333,7.510103e+08
3163,James Phelps,96851,2,12,7.483333,7.510103e+08
1253,Josh Herdman,11212,2,12,7.483333,7.510103e+08
1218,Bonnie Wright,10991,1,12,7.483333,7.510103e+08
3282,Oliver Phelps,140368,2,12,7.483333,7.510103e+08
3162,Matthew Lewis,96841,2,12,7.500000,6.705724e+08
3372,Devon Murray,234922,2,12,7.414286,6.437231e+08
1992,Peter Mayhew,24343,2,12,7.825000,6.405370e+08
4,Bob Peterson,10,2,16,7.466667,6.340370e+08
2073,Ian McDiarmid,27762,2,12,7.180000,6.272932e+08
1793,Mark Ryan,19541,2,28,6.500000,6.251671e+08
1962,Robert Hardy,23076,2,12,7.440000,6.178254e+08
3313,Jan Rabson,157626,2,16,7.185714,5.967740e+08
3167,Matt Gerald,98215,2,18,6.400000,5.926956e+08
1216,Rupert Grint,10989,2,12,7.200000,5.626893e+08
270,Billy Boyd,1329,2,12,7.180000,5.450771e+08
2,Anthony Daniels,6,2,12,7.437500,5.387531e+08
1994,Lori Alan,24358,1,16,7.116667,5.277062e+08
3052,Charlie Adler,81178,2,28,6.616667,5.241828e+08
506,Robert Foxworth,2962,2,28,6.033333,5.236932e+08
966,Jeff Pidgeon,7882,2,16,7.520000,5.205814e+08
3223,Reno Wilson,117187,2,28,6.166667,5.169418e+08
1251,Warwick Davis,11184,2,12,7.058333,5.160232e+08
3392,Elizabeth Olsen,550843,1,28,6.940000,5.153129e+08
1387,Pete Docter,12890,2,16,7.680000,5.142561e+08
1792,Peter Cullen,19540,2,28,6.200000,5.119523e+08
3078,Jackson Rathbone,84215,2,18,5.600000,5.046877e+08
3,Andrew Stanton,7,2,16,7.340000,4.952879e+08
...,...,...,...,...,...,...
3460,Kevin Wiggins,1240490,2,10752,6.300000,-8.584280e+06
941,Felicity Huffman,7427,1,18,6.475000,-8.760045e+06
849,Warren Beatty,6449,2,35,5.666667,-9.545773e+06
763,Zinedine Soualem,5445,2,18,6.633333,-9.740784e+06
1701,Isabelle Huppert,17882,1,80,6.360000,-1.048823e+07
3019,Asa Butterfield,77996,2,18,6.560000,-1.050594e+07
2905,Corbin Bleu,67602,2,10402,5.850000,-1.132091e+07
1517,Paget Brewster,15423,1,35,5.983333,-1.158333e+07
957,Lauren Bacall,7570,1,18,6.566667,-1.190543e+07
1843,Jeff Fahey,20495,2,27,6.183333,-1.208020e+07
2321,Yves Jacques,38529,2,18,6.550000,-1.214191e+07
2069,Tom Towles,27736,2,27,6.560000,-1.367868e+07
2105,Sean Pertwee,28848,2,28,6.280000,-1.372456e+07
1390,Gaby Hoffmann,12930,1,18,6.440000,-1.387490e+07
3099,D. L. Hughley,85931,2,35,5.620000,-1.401028e+07
2693,Vlasta Vrána,58169,2,9648,6.200000,-1.447711e+07
2158,Azura Skye,31715,1,18,5.966667,-1.461523e+07
1324,Benno Fürmann,11953,2,14,5.840000,-1.475685e+07
2916,Alexandra Holden,69399,1,35,6.550000,-1.543132e+07
3414,Billy Blair,968889,2,80,5.600000,-1.554346e+07
1496,John P. Ryan,15213,2,80,6.660000,-1.641199e+07
2686,Anna Friel,58016,1,18,5.957143,-1.660279e+07
2165,Lindsay Crouse,32225,1,18,6.560000,-1.762871e+07
2320,Rémy Girard,38526,2,18,6.500000,-1.801331e+07
1516,Richard Masur,15416,2,18,6.480000,-2.259035e+07
2055,Kevin Conway,27116,2,28,5.980000,-2.330472e+07
1511,Leon Rippy,15374,2,80,6.350000,-2.331125e+07
1052,Sam Waterston,8975,2,18,6.060000,-2.477174e+07
3353,Chad Brummett,208061,2,37,5.960000,-3.444147e+07
2644,Brad Greenquist,56267,2,18,5.875000,-3.475670e+07

In [ ]:
features = nodes_df.set_index('id').drop('name', axis=1)
features.head()