In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#DATA IMPORTING
credits_path = 'data/tmdb_5000_credits.csv'
credits_raw_df = pd.read_csv(credits_path)

In [4]:
#DATA CLEANING
credits_cleaned_df = credits_raw_df[(credits_raw_df.cast != '[]') & (credits_raw_df.crew != '[]')]
credits_cleaned_df.drop([813, 1891, 2862, 2905], axis=0, inplace=True)
credits_cleaned_df = credits_cleaned_df.reset_index()
credits_df = credits_cleaned_df.drop(['cast','crew'], axis = 1)

/Users/sinangokce/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [5]:
#ADDING CAST AND CREW FOR THE FIRST MOVIE
cast_df = pd.DataFrame(eval(credits_cleaned_df['cast'][0]))
cast_df = cast_df.drop(['character','order','cast_id', 'credit_id'],axis = 1)

crew_df = pd.DataFrame(eval(credits_cleaned_df['crew'][0]))
crew_df = crew_df.drop(['department','job', 'credit_id'], axis = 1)

frames = [cast_df, crew_df]
new_df = pd.concat(frames, join = 'outer', ignore_index=True)

In [6]:
#ADDING CAST AND CREW FOR THE REST
for film in range(1,credits_df.shape[0]):
    cast_df = pd.DataFrame(eval(credits_cleaned_df['cast'][film]))
    cast_df = cast_df.drop(['character','order','cast_id', 'credit_id'],axis = 1)   

    crew_df = pd.DataFrame(eval(credits_cleaned_df['crew'][film]))
    crew_df = crew_df.drop(['department','job', 'credit_id'], axis = 1)

    frames = [new_df, cast_df, crew_df]
    new_df = pd.concat(frames, join = 'outer', ignore_index=True)

nodes_df = new_df.drop_duplicates('id')

In [7]:
nodes_df = nodes_df.reset_index()
nodes_df.shape[0]
nodes_df.to_csv("data/nodes.csv")

In [8]:
nodes_df

         index  gender       id                  name
0            0       2    65731       Sam Worthington
1            1       1     8691           Zoe Saldana
2            2       1    10205      Sigourney Weaver
3            3       2    32747          Stephen Lang
4            4       1    17647    Michelle Rodriguez
5            5       2     1771       Giovanni Ribisi
6            6       2    59231      Joel David Moore
7            7       1    30485           CCH Pounder
8            8       2    15853             Wes Studi
9            9       2    10964            Laz Alonso
10          10       2    95697            Dileep Rao
11          11       2    98215           Matt Gerald
12          12       2   154153    Sean Anthony Moran
13          13       2   397312           Jason Whyte
14          14       2    42317        Scott Lawrence
15          15       2   986734         Kelly Kilgour
16          16       0  1207227    James Patrick Pitt
17          17       0  1180936   Sean Patrick Murphy
18          18       2  1019578          Peter Dillon
19          19       0    91443          Kevin Dorman
20          20       2   173391      Kelson Henderson
21          21       0  1207236        David Van Horn
22          22       0   215913          Jacob Tomuri
23          23       0   143206  Michael Blain-Rozgay
24          24       2   169676             Jon Curry
25          25       0  1048610           Luke Hawker
26          26       0    42288         Woody Schultz
27          27       2    68278          Peter Mensah
28          28       0  1207247             Sonia Yee
29          29       1  1207248        Jahnel Curfman
...        ...     ...      ...                   ...
104665  235392       0  1080293         Delaney Price
104666  235393       0  1080294           Jack Pyland
104667  235394       0  1080295        Keith Bradshaw
104668  235395       0  1080296       Ashok Upadhyaya
104669  235396       0  1080297         Brandon Blagg
104670  235397       0  1080298              Jon Cook
104671  235398       2   203260          David Joyner
104672  235399       0  1080299      Eric De Soualhat
104673  235407       0    57470        Jaime de Hoyos
104674  235409       0  1192733       Reinol Martinez
104675  235410       0  1192734          Ramiro Gomez
104676  235411       0  1293343        Consuelo Gómez
104677  235419       0    57473          Eric Guthrie
104678  235420       0    57474         Chris Knudson
104679  235422       0    57478     Cecilio Rodríguez
104680  235423       0    57479         Mark Trujillo
104681  235428       0  1257819       Daniella Pineda
104682  235442       1  1037844         Laci J Mailey
104683  235445       2    32733           Harvey Kahn
104684  235446       2    43925        Adam Sliwinski
104685  235447       1   166873     Martha Williamson
104686  235449       2   174065          Joel S. Rice
104687  235451       0   551521       Shana Landsburg
104688  235452       1  1012891            Renee Read
104689  235456       0  1271268          Lisa Binkley
104690  235461       0  1395490            Zhu Shimao
104691  235462       2   208138           Daniel Hsia
104692  235465       2    85563      Brian Herzlinger
104693  235471       2   155007           Bill D'Elia
104694  235476       0   997560            Brett Winn

[104695 rows x 4 columns]